<!DOCTYPE html>
<html>
<head>
<head>
    <title>My Tasks</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href={% static "tasks/css/bootstrap.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "tasks/css/bootstrap.min.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "tasks/css/style.css" %}>
{#    <link rel="stylesheet" type="text/css" href={% static "tasks/css/style.css" %}>#}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

</head>

<body>

    {% block content %}{% endblock %}
{% block footer %}
    <div class="container">
    <p class="text-muted text-center">@arbisoft</p>
    </div>

{% endblock %}

</body>
</html>