{% extends "tasks/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="page-header">
                    <h1 class="text-center">My Tasks</h1>
                </div>
            </div>
            <div class="col-md-3">
                <table>
                    <tr>
                        <td><b>Welcome: {{ user.first_name|title }} {{ user.last_name|title }}</b></td>
                        <td><a role="button" class="btn_logout btn btn-link" href={% url "logout" %}>Logout</a></td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                {% if not tasks_list %}
                    <strong>No task found</strong>
                {% else %}
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Short Summary</th>
                            <th>Long Summary</th>
                            <th>Url</th>
                            <th>Email</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks_list %}
                            <tr id={{ task.id }}>
                                <td>{{ task.short_summary }}</td>
                                <td>{{ task.long_summary }}</td>
                                <td>{{ task.url }}</td>
                                <td><a style="cursor:pointer" onclick="send_email({{ task.id }})">Email</a></td>
                                <td>{{ task.created }}</td>
                                <td>{{ task.updated }}</td>
                                <td><input class="btn btn-success" type="button" value="Edit"
                                           onclick="load_data({{ task.id }})">
                                </td>
                                <td><input class="btn btn-danger" type="button" value="Delete"
                                           onclick="delete_task({{ task.id }})">
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if tasks_list.has_previous %}
                        <a class="previous" href="?page={{ tasks_list.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ tasks_list.number }} of {{ tasks_list.paginator.num_pages }}.
                    </span>

                    {% if tasks_list.has_next %}
                        <a class="next" href="?page={{ tasks_list.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>

        </div>


        {#new/ edit task form#}

        <div class="row">
            <div class="col-md-12">
                <h3>Add new or edit previous task</h3>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <form method="POST" action="" id="task_form" class="form-horizontal">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary" type="submit" value="Save" name="submit">
                    </form>
                    <strong style="color: red">{{ error }}</strong>
                </div>
            </div>

        </div>
    </div>
    {#javascript#}
    <script>

        $("#task_form").validate();

        function delete_task(task_id) {

            var r = confirm("Are you sure want to delete");
            if (r == false) {
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/tasks/delete/",
                data: {task_id: task_id,
                    csrfmiddlewaretoken: '{{csrf_token}}' },
                success: function (data) {
                    $("#" + task_id).hide();

                }
            });
        }

        function load_data(task_id) {
            var $row = $("#" + task_id);
            $("#id_short_summary").val($row.find("td:eq(0)").text());
            $("#id_long_summary").val($row.find("td:eq(1)").text());
            $("#id_url").val($row.find("td:eq(2)").text());
            $("#id_task_id").val(task_id);

        }

        function send_email(task_id) {
            document.body.style.cursor = "progress";
            $.ajax({
                type: "POST",
                url: "/tasks/email/",
                data: {task_id: task_id, csrfmiddlewaretoken: '{{csrf_token}}'},

                success: function (data) {
                    document.body.style.cursor = "default";
                    alert("email sent successfully")

                }});
        }

    </script>
{% endblock %}

